/* Index CSS */
/*********** IMPORT ***********/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/*********** COMMON ***********/

:root {
    --max-width: 1200px;
    --margin-left: 15%;
}

*{margin:0;padding:0}
html{ 
    font-size:100%;
}
body {
    font-size:12px;
    text-align:center;
    color: rgb(37, 32, 32);
    --primary: #008c6f;
}

body a {
    color: white;
    text-decoration: none;
}

.demo-link {
    color: var(--primary);
}

/*********** FONTS ***********/

body{font-family: "Roboto", "Helvetica", "Arial"}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2em;
}

#home {
    font-size: 3em;
    margin-left: var(--margin-left);
}

/* MENU */

#menu {
    padding-top: 10px;
}
#menu-items {
    font-size: 2em;
    margin-left: 200px;
}

#intro h3 {
    margin-left: var(--margin-left);
    text-align: left;
    padding-top: 10px;
}

#intro {
    width: 100%;
    height: 600px;
    background-color: #008c6f;
    background-image: url(static/images/login_geocity.svg), linear-gradient(45deg, #008c6f, #a3d2c8);
    background-repeat: no-repeat;
    background-position-x: 90%, 100%;
    background-position-y: 100px, 0;
    background-size: 700px, 100%;
    color: white;
    text-align: left;
}

#intro-text {
    padding-top: 100px;
    text-align: left;
    max-width: 600px;
    margin-left: var(--margin-left);
}

/* CONTENT */

.content-block {
    max-width: var(--max-width);
    margin-left: auto;
    margin-right: auto;
    color: #474747;
    font-size: 2em;
    text-align: left;
    padding-top: 100px;
    padding-bottom: 100px;
}

.container {
    text-align: left;
}

.content-block img {
    width: 500px;
}

.feature {
    margin-top: 96px;
    display: flex;
    align-items: center;
}

.features-images {
    width: var(--items-width);
}
.features-text {
    width: var(--items-width);
    margin-left: 96px;
    margin-right: 96px;
}

.features-text img {
    max-width: 80px;
    height: auto;
}

/* PARTNERS */

#partners-logos {
    max-width:var(--max-width);
}

#partners-logos img {
    margin: 20px 20px 20px 20px;
    max-width: 250px;
    height: auto;
}

.text-left {
    text-align: left !important;
}

/* FOOTER */

footer {
    background-color: #008c6f;
    background-image: linear-gradient(45deg, #008c6f, #a3d2c8);
    height: 100px; 
    color: white;
    padding-top: 10px;
    text-align: left;
    padding-left: var(--margin-left);
}


/* ARROW */

.arrow {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 20px;
    color: #474747;
  }

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    position: absolute;
    left: 50%;
}

/**************
/*Bootrap*/
/**************

/*Specification Grid & Accordion*/

.row {
    font-size: 1.2em;
    text-align:left;
    border-bottom: 1px solid #dfdfdf;
    padding: 5px 5px 5px 5px;
    margin-bottom: 10px;
}

.accordion-button {
    font-size: 0.7em !important;
}

.accordion-button:focus {
    background-color: #008c6f !important;
    color: #ffffff !important;
    box-shadow: inset 0 -1px 0 rgba(0,140,111,.125) !important;
    border-color: black !important;
}

.accordion-button:not(.collapsed) {
    color: #ffffff !important;
    background-color: #008c6f !important;
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.125);
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000000'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
    transform: rotate(-180deg);
}

.list-group-item {
    border: 0 !important;
}

.block-separator {
    max-width: 1024px;
    border-bottom: none;
    height: 1px;
    margin: 40 auto;
}

  /* TABLET  */

  @media (max-width: 1400px) {

    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2.25em;
    }

    h3 {
        font-size: 1.5em;
    }

    #home {
        font-size: 2.2em;
        margin-left: 5%;
    }

    /* MENU */

    #menu {
        padding-top: 10px;
    }

    #menu-items {
        font-size: 1.5em;
        margin-left: 20px;
    }
    
    #intro h3 {
        margin-left: 10px;
        text-align: left;
        padding-top: 10px;
    }

    #intro {
        height: 450px;
        background-color: #008c6f;
        background-image: url(static/images/login_geocity.svg), linear-gradient(45deg, #008c6f, #a3d2c8);
        background-repeat: no-repeat;
        background-position-x: 90%, 100%;
        background-position-y: 80%, 0;
        background-size: clamp(400px, 60%, 700px), 100%;
        color: white;
        text-align: left;
    }

    #intro-text {
        padding-top: 50px;
        text-align: left;
        max-width: 450px;
        margin-left: 5%;
    }

    #intro-text h1 {
        font-size: 3em;
    }

    .content-block {
        max-width: 80%;
        margin: auto;
        font-size: 2em;
        padding-top: 0;
        padding-bottom: 0;
    }

    .feature {
        flex-wrap: wrap;
        margin: 0;
    }

    .feature-right {
        flex-direction: column-reverse;
        align-items: flex-end;
    }
    
    .features-images {
        margin-bottom: 32px;
    }

    .features-text {
        width: var(--items-width);
        margin: 0;

    }

    .container h2{
        font-size: 1.8em;
    }

    .container h3{
        font-size: 1.6em;
    }

    #partners {
        margin-top: 50px;
    }

    #partners-logos {
        text-align: center;
    }
    
    #partners-logos img {
        margin: 10px 10px 10px 10px;
    }
  }

  /* MOBILE  */

  @media (max-width: 768px) {

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1em;
    }

    #home {
        font-size: 2.2em;
        margin-left: var(--margin-left);
    }

    /* MENU */

    #menu {
        padding-top: 10px;
    }

    #menu-items {
        display: none;
    }
    
    #intro h3 {
        margin-left: 10px;
        text-align: left;
        padding-top: 10px;
    }

    #intro {
        height: 450px;
        background-color: #008c6f;
        background-image: url(static/images/login_geocity.svg), linear-gradient(45deg, #008c6f, #a3d2c8);
        background-repeat: no-repeat;
        background-position-x: 90%, 100%;
        background-position-y: 50px, 0;
        background-size: 300px, 100%;
        color: white;
        text-align: left;
    }

    #intro-text {
        padding-top: 175px;
        text-align: left;
        max-width: 300px;
        margin-left: var(--margin-left);
    }

    #intro-text h1 {
        font-size: 3em;
    }

    .content-block {
        max-width: 85%;
        margin: 0 auto;
        font-size: 2em;
        padding-top: 0;
        padding-bottom: 0;
    }

    .content-block img {
        width: 80%;
    }

    .feature {
        flex-wrap: wrap;
        margin: 0;
    }

    .feature-right {
        flex-direction: column-reverse;
    }
    
    .features-images {
        max-width: 300px;
        margin-bottom: 32px;
    }

    .features-text {
        width: var(--items-width);
        margin: 0;

    }

    .container {
        max-width: 90%;
    }

    .container h2{
        font-size: 1.8em;
    }

    .container h3{
        font-size: 1.6em;
    }

    #partners-logos {
        text-align: center;
    }
    
    #partners-logos img {
        margin: 10px 10px 10px 10px;
        max-width: 300px;
    }

    .arrow {
        display: none;
    }
  }

  /* HANDY  */

  @media (max-width: 350px) {


    #intro-text {
        margin: 0 auto;
        max-width: 90%;
    }
  }
